*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F4; }

a svg {
  height: 4rem;
  width: 4rem;
  text-decoration: none;
  fill: #5F513F; }
  a svg:hover {
    background-color: transparent; }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto"); }

.EditReminder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #060505; }
  .EditReminder_header {
    width: 100%;
    height: 15vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between; }
    .EditReminder_header a {
      border-radius: 50%;
      background-color: #BD924B;
      height: 5rem;
      width: 5rem;
      position: relative;
      transition: all .2s ease; }
      .EditReminder_header a .Button {
        background-color: transparent; }
      .EditReminder_header a svg {
        position: absolute;
        left: .5rem;
        top: .5rem; }
      .EditReminder_header a:hover {
        transform: scale(0.98); }
  .EditReminder_form {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .EditReminder_form > * {
      margin-bottom: 4rem; }
    .EditReminder_form select {
      font-size: 3.6rem;
      color: #BD924B; }
    .EditReminder_form_input {
      width: 80%;
      display: flex;
      flex-direction: column; }
      .EditReminder_form_input p {
        color: #5F513F;
        margin-top: 3px;
        font-size: 1.8rem;
        text-align: right; }
