@import '../../stylesheets/main.scss';

.Button {
  height: 6rem;
  padding: 1rem;
  color: $color-secondary-dark;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  @include transitionSpeed(fast);

  &:hover {
    background-color: $color-primary-lighter;
  }
}
