@import '../../stylesheets/main.scss';

.button {
  border: 2px outset $color-secondary-dark;
  height: 4rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: $color-primary-dark;
  color: $color-secondary-dark;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  @include transitionSpeed(fast);

  &:hover {
    transform: scale(0.97);
    border: 2px inset #BD924B;
    outline: none;
  }
}
