// color
$color-primary-lighter: #ffffff;
$color-primary-light: #F5F5F4;
$color-primary-middle: #A5A4A2;
$color-primary-dark: #060505;

$color-secondary-middle: #DECDA7;
$color-secondary-dark: #BD924B; 
$color-secondary-darker: #5F513F; 

$color-green: #027D76;

// font
$default-font-size: 1.6rem;

// layer
$layer-top: 100; // for ToolBar
$layer-bottom: 0; // basic background

// size
$toolBar-height: 5rem;
$toolBar-item-size: 3rem;
$searchBox-length: 27rem;

$leftbar-width: 30rem;