@import '../../stylesheets/main.scss';

.calender {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;

  &__weekday {
    height: 2rem;
  }
}