@import '../../stylesheets/main.scss';

.calender {
  max-width: inherit;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  background-color: $color-primary-light;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__weekday {
    height: 2rem;
    font-size: 1.8rem;
    color: $color-secondary-dark;
  }
}